<html>
	<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>Welcome to my About page</h1>
				<p>My name is Christer, and i am cool. This project was built for <a href="http://www.christerdahlslett.com">One Month Python</a></p>
				<a href="{{ url_for("index") }}">Home page</a>
			</div>
		</div>
	</body>
</html>		